<?php /* @var $this Bitbull_DesignerCategory_Block_Brand_Designers */ ?>
<?php
$designersData = $this->getDesignersData();
$i = 0;
$currentCategoryId = $this->getCurrentCategoryId();
?>
<?php foreach ($designersData as $designer) : ?>
    <?php $currentDesignerClass = $designer["brand-category-id"] == $currentCategoryId ? "current-brand" : ""; ?>
    <div class="item">
        <h1><?php echo $designer["brand-name"] ?></h1>
        <a href="<?php echo $designer["brand-url-path"] ?>">
            <img src="<?php echo $designer["brand-image-url"] ?>" alt ="<?php echo $designer["brand-name"] ?>"/>
        </a>
    </div>
<?php endforeach; ?>
